.window {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}

.dns {
    width: calc(100% - 100px);
    height: 40px;
    border: 1px solid #bababa;
    border-radius: 10px 0 0 10px;
    text-indent: 10px;
}

.button_find {
    width: 100px;
    height: 40px;
    background-color: rgb(251,192,45);
    color: white;
    border-radius: 0 10px 10px 0;
    border: none;
}

.button_find:hover {
    color: black;
    box-shadow: 0 0 2px;
    border-width: 0px;
}

.button_fix {
    margin-left: 5px;
    margin-top: 10px;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background-color: rgb(251,192,45);
    font-family: 'Montserrat', sans-serif;
    font-size: 7pt;
    border: none;
}

.button_fix:hover {
    color: black;
    box-shadow: 0 0 2px;
    border-width: 0px;
}

.label_users {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15pt;
}

.info_user {
    margin-top: 20px;
}

.profile_image {
    height: 105px;
    width: 105px;
    border-radius: 105px;
    display: inline-block;
    vertical-align:top;
} 


.info_user_inner {
    margin-left: 20px;
    width: calc(100% - 125px);
    display: inline-block;
    vertical-align:top;
}

.main_info_user_inner {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    vertical-align:top;
}

.type_element_info {
    display: inline-block;
    vertical-align:top;
    width: 100px;
    height: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12pt;
}
.type_element_info:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.value_element_info {
    margin-left: 10px;
    height: 35px;
    display: inline-block;
    vertical-align:top;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

.value_element_info:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.main_type_element_info {
    display: inline-block;
    vertical-align:top;
    width: 150px;
    height: 50px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    margin: 0 auto;
}
.main_type_element_info:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.main_value_element_info {
    display: inline-block;
    vertical-align:top;
    width: 150px;
    height: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    outline: none;
}

.main_value_element_info:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.line {
    width: 100%;
    height: 2px;
    background-color: #bababa;
    border-radius: 2px;
    margin-top: 20px;
}

.info_booking {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.label_info_booking {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15pt;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

.label_address_booking {
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    width: 400px;
    text-align: center;
}

.label_place_booking {
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    display: inline-block;
    vertical-align: middle;
    width: calc( 100% - 730px );
    text-align: right;
}

.general_info_booking {
    margin-top: 20px;
}

.progress_bar_booking {
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    width: calc( 100% - 120px );
    border-radius: 20px;
    box-shadow: 0 0 2px;
    border-width: 0px;
    position: relative;
}


.buttons_booking {
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

.button_next {
    width: 100%;
    height: 40px;
    background-color: rgb(251,192,45);
    color: white;
    border-radius: 10px;
    border: none;
}

.button_next:hover {
    color: black;
    box-shadow: 0 0 2px;
    border-width: 0px;
}

.button_delete {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: rgb(251,192,45);
    color: white;
    border-radius: 10px;
    border: none;
}

.button_delete:hover {
    color: black;
    box-shadow: 0 0 2px;
    border-width: 0px;
}

.status_booking {
    width: 33%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    position: relative;
}

.status_arrive {
    width: 33%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    position: relative;
}

.status_exit {
    width: 34%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    position: relative;
}

.label_booking {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13pt;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50%;
    text-align: center;
    z-index:  100;
} 

.label_booking:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.label_time {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 50px;
    z-index:  100;
} 

.label_time:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.progress_bar {
    position: absolute;
    z-index:  50;
    height: 100px;
    top: 0;
    left: 0;
    background: rgb(251,192,45);
}