.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70xw;
    justify-content: flex-start;
    margin-left: 0.5rem;
    color: rgb(119, 119, 119);
    text-decoration: none;
}
.nav-items:hover {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70xw;
    justify-content: flex-start;
    margin-left: 0.5rem;
    color: white;
    text-decoration: none;
}
.nav-link-selected {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70xw;
    justify-content: flex-start;
    margin-left: 0.5rem;
    color: white;
    text-decoration: none;
}

.button-sign {
    background: rgb(255, 204, 0);
}