.login-form {
    margin: auto; 
    width: 400px;
    margin-top: 20px;
}
.btn-login {
    width: 100%;
    background: rgb(255, 204, 0);
    border-width: 0px;
    color: white;
    box-shadow: 0 0 0px;
    margin-left: 0px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 11pt;

}
.btn-login:hover {
    width: 100%;
    background: rgb(223, 178, 0);
    color: white;
    border-width: 0px;
    margin-left: 0px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 11pt;
}
.auth_label {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15pt;
}
.welcome-user {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
}
.error-field {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    text-align: center;
    margin-top: 5px;
}